body{
    background: url(../images/chooseImgs/zzwfclbg.png);
    background-repeat: repeat-x;
}
.study{
    width: 78%;
    height: 14%;
    position: absolute;
    left: 12%;
    top: 6%;
}
.enter{
    width: 78%;
    height: 14%;
    position: absolute;
    left: 12%;
    top: 26%;
}
#tips{
    width: 65%;
    border: 1px solid white;
    position: absolute;
    left: 12%;
    top: 46%;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 28px;
}
p{
    letter-spacing: 0.02em;
    font-size: 0.8em;
}
p .marginTop{
    margin-top: 1px;
}