body {
    background-color: ghostwhite;
}

#IDNumber {
    background-color: white;
    margin-top: 4%;
}

#IDCard {
    border: none;
    outline: none;
    margin-left: 2%;
    font-size: 2.5em;
    margin-top: 2%;
    margin-bottom: 2%;
    max-lines: 1;
}

#code {
    border: none;
    outline: none;
    font-size: 2.5em;
    margin-left: 2%;
    max-lines: 1;
}

#info {
    position: relative;
}

label {
    font-size: 2.5em;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#next {
    width: 95%;
    height: 86px;
    position: absolute;
    text-align: center;
    font-size: 2.8em;
    margin-left: 2.5%;
    background-color: whitesmoke;
    border-color: gray;
    color: silver;
}

#warnning {
    position: absolute;
    margin-top: 9%;
    font-size: 2.3em;
    color: gray;
    padding: 2%;
    display: none;
}

.tips {
    position: static;
    margin-top: 12%;/*如果warnning显示，值为29%，不显示为12%*/
    font-size: 2.3em;
    padding: 2%;
    color: gray;
}
hr{
    border: 1px solid gray;
}
#clear{
    position: relative;
    margin-left: 125px;
    margin-bottom: 1px;
    visibility: hidden;
}
#count{
    background: none;
    border: none;
    font-size: 2.3em;
    color: deepskyblue;
    margin-left: 125px;
}
.onShow{
    display: none;
}