body {
    background-color: ghostwhite;
}

#IDNumber {
    background-color: white;
    margin-top: 4%;
}

#IDCard {
    border: none;
    outline: none;
    margin-left: 2%;
    font-size: 2.5em;
    margin-top: 2%;
    margin-bottom: 2%;
    max-lines: 1;
}

#code {
    border: none;
    outline: none;
    font-size: 2.5em;
    margin-left: 2%;
    max-lines: 1;
}

#info {
    position: relative;
}

label {
    font-size: 2.5em;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#next {
    width: 95%;
    height: 86px;
    position: absolute;
    text-align: center;
    font-size: 2.8em;
    margin-left: 2.5%;
    background-color: #eee;
    border-color: #eee;
    color: #bcbcbc;
}

#warnning {
    position: absolute;
    margin-top: 9%;
    font-size: 2.3em;
    color: gray;
    padding: 2%;
    display: none;
}

.tips {
    position: static;
    margin-top: 12%;/*如果warnning显示，值为29%，不显示为12%*/
    font-size: 2.3em;
    padding: 2%;
    color: gray;
}
hr{
    border: 1px solid gray;
}
#clear{
    position: relative;
    margin-left: 125px;
    margin-bottom: 1px;
    display: none;
}
#count{
    background: none;
    border: none;
    font-size: 2.3em;
    color: deepskyblue;
    margin-left: 125px;
}
.onShow{
    display: none;
}

.dialog{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(158, 158, 158, 0.6);
    z-index: 999;
    width:100%;
    min-height: 100%;
    display: none;
}
.dialog .dialog-con{
    background: #ffffff;
    position: absolute;
    height: 20%;
    width: 85%;
    opacity: 1;
    z-index: 9999;
    text-align: center;
    left: 7%;
    top: 20%;
    border-radius: 15px;
}
.dialog .dialog-btn{
    position: absolute;
    background: #1aa9ff;
    width: 90%;
    height: 90px;
    line-height: 90px;
    font-size: 45px;
    border-radius: 10px;
    left: 45px;
    bottom: 25px;
    color: white;
}
.dialog .dialog-con .dialog-content{
    font-size: 38px;
    padding: 55px 15px 15px 15px;
}